.container-footer {
  min-height: 25rem !important;
  //max-height: 50rem !important;
  background-color: #353535;
  color: white;
  width: 100%;
}

a {
  color: white;
}

p {
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}
