<div class="container-fluid d-flex flex-column justify-content-center dashboard">

  <div class="row m-5">

    <div class="col">
      <h2 class="align-content-center" style="text-align: center">CONTROL DE STOCK DE PRODUCTOS</h2>
    </div>

  </div>

  <div class="row justify-content-center cards">

    <mat-card class="card-add-product justify-content-center">

      <mat-card-header class="row justify-content-center">
        <mat-card-title>
          <div class="row justify-content-center">
            <h1 class="title">AGREGAR UN NUEVO PRODUCTO</h1>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="">

        <div class="text-center">
          <button mat-stroked-button class="align-content-center" color="primary" (click)="addProduct()">Agregar Producto</button>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

  <div class="row justify-content-center cards">

    <mat-card class="card justify-content-center" *ngFor="let stock of stocks">

      <mat-card-header class="row justify-content-center">
        <mat-card-title>
          <div class="row justify-content-center">
            <h1 class="title">PRODUCTO</h1>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="">

        <div class="row justify-content-center">
          Producto: {{stock.product.name}}
        </div>
        <div class="row justify-content-center">
          Cantidad: {{stock.count}}
        </div>

        <div class="row justify-content-center mt-5 mb-5">
          <button mat-stroked-button class="mr-1" color="primary" (click)="addStock(stock)">Agregar Stock</button>
          <button mat-stroked-button class="ml-1" color="primary" (click)="removeStock(stock)">Quitar Stock</button>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

</div>

